In [62]:
import requests
import secret
import pandas as pd

In [5]:
secret_key = secret.KEY
database_id = '60777f42f5b349b1ae619c3ced68d3da'

In [38]:
url = f'https://api.notion.com/v1/databases/{database_id}/query'
header = {"Authorization": secret_key, "Notion-Version":"2021-05-13"}
filter = {"property": "IsActive", "checkbox": {"equals" : True}}
# filter = {"property": "Author", "text" : {"contains" : "William"}}

In [39]:
response = requests.post(url, headers=header, data=filter)
response

In [68]:
response.json()['results'][0]['properties']["IsActive"]["checkbox"]

True

In [65]:
book_title = response.json()['results'][0]['properties']["Book"]["title"][0]["plain_text"]
book_author = response.json()['results'][0]['properties']["Author"]["rich_text"][0]["plain_text"]
num_copies_sold = response.json()['results'][0]['properties']["No. of Copies Sold"]["number"]
is_active = response.json()['results'][0]['properties']["IsActive"]["checkbox"]

4

In [72]:
response.json()['results'][2]

{'object': 'page',
 'id': 'ab10a95e-e9ac-45ff-aa14-57f166cf6f33',
 'created_time': '2021-11-26T21:53:00.000Z',
 'last_edited_time': '2021-11-26T21:53:00.000Z',
 'cover': None,
 'icon': None,
 'parent': {'type': 'database_id',
  'database_id': '60777f42-f5b3-49b1-ae61-9c3ced68d3da'},
 'archived': False,
 'properties': {'Author': {'id': ']tli', 'type': 'rich_text', 'rich_text': []},
  'IsActive': {'id': '`bT`', 'type': 'checkbox', 'checkbox': False},
  'Book': {'id': 'title', 'type': 'title', 'title': []}},
 'url': 'https://www.notion.so/ab10a95ee9ac45ffaa1457f166cf6f33'}

Empty DataFrame
Columns: [book_title, book_author, num_copies_sold]
Index: []

In [96]:
num_records = len(response.json()['results']) - 1
data =[]

for i in range(0,num_records):
    book_title = response.json()['results'][i]['properties']["Book"]["title"][0]["plain_text"]
    book_author = response.json()['results'][i]['properties']["Author"]["rich_text"][0]["plain_text"]
    num_copies_sold = response.json()['results'][i]['properties']["No. of Copies Sold"]["number"]
    is_active = response.json()['results'][i]['properties']["IsActive"]["checkbox"]

    print(book_title + ' ' + book_author + ' ' + str(num_copies_sold) + ' ' + str(is_active))

    data.append([book_title, book_author, num_copies_sold])

All’s Well that Ends well William Shakespeare 3000 True
Androcles and the Lion George Bernard Shaw 2000 True

,0,1,2,book_author,book_title,num_copies_sold
0,All’s Well that Ends well,William Shakespeare,3000.0,NaN,NaN,NaN
1,Androcles and the Lion,George Bernard Shaw,2000.0,NaN,NaN,NaN

In [98]:
column_names = ["book_title", "book_author", "num_copies_sold"]
df = pd.DataFrame(data, columns=column_names)
df

                  book_title          book_author  num_copies_sold
0  All’s Well that Ends well  William Shakespeare             3000
1     Androcles and the Lion  George Bernard Shaw             2000